#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #EFEAD8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bigger-background {
  width: 700px;
}

.bigger-image {
  width: 300px;
  height: 300px;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  background-color: #6D8B74;
  color: white;
  border-radius: 40px;
  font-weight: bold;
  width: fit-content; /* Use "fit-content" instead of "auto" */
  text-align: left; /* Align the text to the left */
}

.fixed-height {
  height: 150px; /* Adjust the height value as needed */
}

.text-left {
  text-align: left;
}

.placeholder-text::placeholder {
  color: #999999;
}

